html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: lightgray;
}

body {
    background: #ffffff url('../img/pexels-photo-902756.jpeg'); /* Background pattern from Subtle Patterns */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Source Code Pro", Monaco, "monospace";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100%;*/
}

h1 {
    font-family: "Source Code Pro", Monaco, "monospace";
    font-weight: 400;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 613px;
    min-height: 83vh;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0.75em;
}

.deck .card {
    height: 110px;
    width: 110px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 613px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal {
     display: none;
     z-index: 10;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(13,20,30,0.9);
     top: 0;
     left: 0;
     position: fixed;
     color: black;
}

.modal-content {
    margin: 15% auto;
    padding-bottom: 30px;
    padding-top: 15px;
    width: 40%;
    background-color: rgba(211,211,211,0.7);
    border-radius: 15px;
    box-shadow: 5px 5px 8px 0 rgba(173,216,230,0.3);
}
.modal-message {
    text-align: center;
}

.modal-info {
    display: flex;
    justify-content: space-around;
}
.modal-stars li {
    list-style: none;
    display: inline-block;
    font-size: 22px;
}
.modal-timer {
    font-size: 22px;
}

.modal-reset-button-container {
  display: block;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}

.modal-reset-button {
    background-color: rgba(105,105,105,0.9);
    padding: 5px;
    border-radius: 4px;
    opacity: 0.6;
}

.modal-reset-button:hover {
  color: darkblue;
  opacity: 0.9;
}

@media screen and (min-width: 360px) and (max-width: 639px) { /* mobile viewport */
  .deck {
    width: 90%;
    min-height: 75vh;
  }
  .deck .card {
    width: 16vw;
    height: 16vw;
  }
  .deck .card.show, .deck .card.match {
    font-size: 22px;
  }
  .stars li, .move-container, .timer-container, .restart {
    font-size: 15px;
  }
  .moves-text, .timer-text {
    display: none;
  }
  .score-panel {
    width: 90%;
  }
  .modal-content {
    width: 90%;
    margin: 35% auto;
  }
  .modal-content .modal-message {
    font-size: 1.2em;
  }
  .modal-stars li, .modal-timer {
    font-size: 16px;
  }
}

@media screen and (min-width: 640px) and (max-width: 839px) {
  .deck {
    width: 72%;
    min-height: 80vh;
    /*margin: 0;*/
  }
  .deck .card {
    width: 13vw;
    height: 13vw;
  }
  .deck .card.show, .deck .card.match {
    font-size: 28px;
  }
  .stars li, .move-container, .timer-container, .restart {
    font-size: 14px;
  }
  .score-panel {
    width: 72%;
  }
  .modal-content {
    width: 70%;
    margin: 15% auto;
  }
  .modal-content .modal-message {
    font-size: 1.55em;
  }
  .modal-stars li, .modal-timer {
    font-size: 20px;
  }
}

@media screen and (min-width: 840px) and (max-width: 999px) {
  .deck {
    width: 59%;
    min-height: 80vh;
  }
  .deck .card {
    width: 11vw;
    height: 11vw;
  }
  .stars li, .move-container, .timer-container, .restart {
    font-size: 15px;
  }
  .score-panel {
    width: 59%;
  }
}

@media screen and (min-width: 1000px) {
  .modal-content {
    width: 660px;
    margin: 12% auto;
  }
  .modal-stars li, .modal-timer {
    font-size: 22px;
  }
}
